{% extends "../../../base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<b> {% include "includes/alerts.html" %} </b>
	<div class="row">
	{% include "includes/dashboard_slider.html" %}
	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header text-center">
			<span style="font-size:20px" class="d-inline-block">Logged in as :</span>
			<strong style="font-size:20px">{{user.full_name | title}}</strong>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-6">
				<div class="card" style="text-align:center">
				
					<div class="card-body">
						<img src="{{profile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius:50px;">
						<br>
						<br>
						<p class="mb-0"><span style="float:left"><b>User Name :</b></span> <span style="float:right">{{user.username}}</span></p><br><hr>
						<p class="mb-0"><span style="float:left"><b>Email :</b></span> <span style="float:right">{{user.email}}</span></p><br><hr>
						<p class="mb-0"><span style="float:left"><b>Phone Number :</b></span> <span style="float:right">{{user.Phone_number}}</span></p><br><hr>
						
						{% if profile.address_line_1 or profile.address_line_2 %}
						<p class="mb-0"><span style="float:left"><b>Full Address :</b></span> <span style="float:right">{{profile.full_address}}</span></p><br><hr>
						{% endif %}
						
						{% if profile.city %}
						<p class="mb-0"><span style="float:left"><b>City :</b></span> <span style="float:right">{{profile.city}}</span></p><br><hr>
						{% endif %}
						
						{% if profile.state %}
						<p class="mb-0"><span style="float:left"><b>State :</b></span> <span style="float:right">{{profile.state}}</span></p><br><hr>
						{% endif %}

						{% if profile.country %}
						<p class="mb-0"><span style="float:left"><b>Country :</b></span> <span style="float:right">{{profile.country}}</span></p><br><hr>
						{% endif %}
						
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						<h5 class="card-title">Total Orders</h5>
						<h4>{{orders_count}}</h4>
						<a href="{% url 'accounts:my_orders' %}">View Orders</a>
					</div>
				</div>
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>



</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}