{% extends "../../../base.html" %}
{% load static %}
{% block title %}My Orders{% endblock %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  <div class="container">
    <b> {% include "includes/alerts.html" %} </b>
    <div class="row">
      {% include "includes/dashboard_slider.html" %}

      <main class="col-md-9">
        <article class="card">
          <header class="card-header text-center">
            <strong style="font-size:20px" class="d-inline-block mr-3">Total Orders : {{orders_count}}</strong>
          </header>
          {% if orders_count >= 1 %}
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Billing Name</th>
                <th scope="col">Address</th>
                <th scope="col">Total Price</th>
                <th scope="col">Date</th>
                <th scope="col">Hour</th>
                <th scope="col"></th>
              </tr>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <th scope="row">{{order.order_number}}</th>
                <td>{{order.full_name}}</td>
                <td>{{order.full_address}}</td>
                <td>${{order.order_total}}</td>
                <td>{{order.order_created}}</td>
                <td>{{order.hour_update}}</td>
                <td><b><a href='{% url "accounts:order_detail" order.order_number%}'>View Details</a></b></td>
              </tr>
              
              {% endfor %}

            </tbody>
          </table>
          {% endif %}
        </article> <!-- order-group.// -->
      </main>
    </div> <!-- row.// -->
  </div>



  </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}